<% @games.each do |game| %>
  <div class="game well">
    <h2><%= game.name %></h2>
    <div class="description">
      <%= game.deck %>
    </div>
    <%= link_to "Remove", gamelist_path(id: game.id), method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>