<div class="container-fluid">
  <div class="jumbotron">
    <h1>Hi there!</h1>
    <p>Welcome to 8-Bit Bucketlist! <br>
    8BBL allows you to search for games and add them to your collection. From there, you can keep track of what games you have beaten and even get recommendations on new games to play!</p>
  </div>
</div>