// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#yourgamelist td {
  padding: 10px;
}

#yourgamelist th {
  text-align: center;
}

#yourgamelist td #5stars i{
  display: inline-block;
}